@{
    ViewBag.Title = "Home Page";
}

<body>
    <header>
        <nav>
            <ul id="HeaderNavBar">
                <li>@Html.ActionLink("Item1", "ActionName", "ControllerName")</li>
                <li>@Html.ActionLink("Item2", "ActionName", "ControllerName")</li>
                <li>@Html.ActionLink("Item3", "ActionName", "ControllerName")</li>
                <li>@Html.ActionLink("Item4", "ActionName", "ControllerName")</li>
                <li>@Html.ActionLink("Item5", "ActionName", "ControllerName")</li>
            </ul>
        </nav>
    </header>


    <div class="MainPanel">
        <h1>Some Important Text</h1>
    </div>

    <footer>
        <div class="FooterWrapper">
            <div id="PartnersInfo">
                <p>Some Info</p>
            </div>
            <div id="SomePictures">
                <p>Some Pictures</p>
            </div>
            <div id="NavigationMenu">
                <nav>
                    <ul id="FooterNavBar">
                        <li>@Html.ActionLink("Item1", "ActionName", "ControllerName")</li>
                        <li>@Html.ActionLink("Item2", "ActionName", "ControllerName")</li>
                        <li>@Html.ActionLink("Item3", "ActionName", "ControllerName")</li>
                        <li>@Html.ActionLink("Item4", "ActionName", "ControllerName")</li>
                        <li>@Html.ActionLink("Item5", "ActionName", "ControllerName")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>